@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

h2,
h5,
a,
button {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url('https://assets.codepen.io/6060109/ZigZag.png');
  background-size: cover;
}

.card {
  background-color: #fff;
  height: 600px;
  width: 90%;
  max-width: 400px;
  margin: 4rem auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 40px 40px -20px #3c7b61;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

.inner-container {
  padding: 3rem 2rem;
  text-align: center;
}

.main-logo {
  padding-bottom: 2rem;
  margin: auto;
}

.inner-container > h2 {
  font-size: 22px;
  color: #2f463d;
  padding-bottom: 1rem;
}

.inner-container > p {
  font-size: 14px;
  line-height: 26px;
}

.selection-menu {
  display: flex;
  background: #f0fff5;
  border-radius: 5px;
  margin: 2rem 0 0;
}

.menu-header {
  width: 50%;
  text-align: left;
  align-self: center;
  padding-left: 1rem;
}

.menu-header > h5 {
  font-weight: 800;
  font-size: 14px;
  color: #2f463d;
}

.menu-header > h6 {
  font-weight: 500;
  font-size: 14px;
  color: #7a8f85;
}

.selection-menu > a {
  align-self: center;
  font-size: 13px;
  color: #467a66;
  padding-left: 3rem;
}

.checkout-btn {
  font-size: 15px;
  background: #46a67e;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 350px;
  padding: 1rem 2rem;
  margin: 2rem 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
