* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  background: url('https://assets.codepen.io/6060109/ZigZag.png');
}

.card {
  background: #fff;
  height: 700px;
  width: 90%;
  min-width: 300px;
  margin: 4rem auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 40px 40px -20px #3c7b61;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-logo {
  margin: 0 auto;
}
